<p id="notice"><%= notice %></p>

<h1>Listing Tracking Devices</h1>

<table>
  <thead>
    <tr>
      <th>Serial no</th>
      <th>Device model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracking_devices.each do |tracking_device| %>
      <tr>
        <td><%= tracking_device.serial_no %></td>
        <td><%= tracking_device.device_model %></td>
        <td><%= link_to 'Show', tracking_device %></td>
        <td><%= link_to 'Edit', edit_tracking_device_path(tracking_device) %></td>
        <td><%= link_to 'Destroy', tracking_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracking device', new_tracking_device_path %>
