<p id="notice"><%= notice %></p>

<p>
  <strong>Serial no:</strong>
  <%= @tracking_device.serial_no %>
</p>

<p>
  <strong>Device model:</strong>
  <%= @tracking_device.device_model %>
</p>

<%= link_to 'Edit', edit_tracking_device_path(@tracking_device) %> |
<%= link_to 'Back', tracking_devices_path %>
