<p id="notice"><%= notice %></p>

<h1>Listing Device Models</h1>

<table>
  <thead>
    <tr>
      <th>Gps</th>
      <th>Obdi</th>
      <th>Accelerometer</th>
      <th>Camera</th>
      <th>Computer</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_models.each do |device_model| %>
      <tr>
        <td><%= device_model.gps %></td>
        <td><%= device_model.obdi %></td>
        <td><%= device_model.accelerometer %></td>
        <td><%= device_model.camera %></td>
        <td><%= device_model.computer %></td>
        <td><%= device_model.name %></td>
        <td><%= link_to 'Show', device_model %></td>
        <td><%= link_to 'Edit', edit_device_model_path(device_model) %></td>
        <td><%= link_to 'Destroy', device_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device model', new_device_model_path %>
