<p id="notice"><%= notice %></p>

<p>
  <strong>Gps:</strong>
  <%= @device_model.gps %>
</p>

<p>
  <strong>Obdi:</strong>
  <%= @device_model.obdi %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @device_model.accelerometer %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @device_model.camera %>
</p>

<p>
  <strong>Computer:</strong>
  <%= @device_model.computer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @device_model.name %>
</p>

<%= link_to 'Edit', edit_device_model_path(@device_model) %> |
<%= link_to 'Back', device_models_path %>
