<h1>Registrar nuevo vehículo:</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/vehicles', method:'post') do %>
      
      <%= label_tag :name, "Nombre del vehículo" %>
      <%= text_field_tag :name, '', class:'form-control' %>

      <%= label_tag :brand, "Marca" %>
      <%= select_tag :brand, options_from_collection_for_select(@brands, "id", "name") %>

      <%= label_tag :model, "Modelo" %>
      <%= select_tag :model, nil %>

      <%= label_tag :version, "Version" %>
      <%= select_tag :version, nil %>

      <%= label_tag :price, "Año" %>
      <%= select_tag :price, nil %>

      <%= label_tag :tracking_serial_no, "Código del dispositivo de trackeo" %>
      <%= text_field_tag :tracking_serial_no, '', class: 'form-control' %>

      <%= label_tag :plate_no, "Patente" %>
      <%= text_field_tag :plate_no, '', class: 'form-control' %>

      <%= label_tag :chasis_no, "Número de chásis" %>
      <%= text_field_tag :chasis_no, '', class: 'form-control' %>

      <%= label_tag :engine_no, "Número de motor" %>
      <%= text_field_tag :engine_no, '', class: 'form-control' %>
      
      <%=  submit_tag "Registrar vehículo", class: "btn btn-primary" %>
    <%  end %>
  </div>
</div>